@model IEnumerable<MVC_Demo.Models.Employee>

<div>
    <h4>Employee</h4>
    <ul>
        @foreach (var Employee in @Model)
        {
            <li>
                @Html.ActionLink(Employee.Name,"EmployeeDetails","Employee",new { id = Employee.Id },null)
            </li>
        }
    </ul>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
