@model MVC_Demo_2.Models.Company

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.DropDownList("Departments","Select Department")

@using (Html.BeginForm())
{
    foreach (var department in Model.Departments)
    {
       @Html.RadioButtonFor(m => m.SelectedDepartment, department.DepartmentId)  @department.DepartmentName  <br />

    }

    <input type="submit" name="submit" value="Submit">
}
