<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EmployeeContext" connectionString="data source=.;initial catalog=practice;integrated security=True" providerName="System.Data.SqlClient" />
    <add name="DBCS" connectionString="data source=.;initial catalog=practice;integrated security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>